* {
  box-sizing: border-box;
}

body, html {
  color: #000000;
  background-color: #EEEEEE;   /* Light gray */
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  background-color: white;
}

.page {
  margin-top: 0px;
  padding: 10px 10px;
  text-align: left;
  border: none;
}

.menu {
  height: 8%;
  display: flex;
  justify-content: space-between;
  font-size: 12pt;
  padding: 0;
  border-bottom: 1px solid black;
}

.menu-title {
  display: flex;
  align-items: flex-end;
  flex: 0 1 auto;
  height: 100%;
  font-size: 28pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.menu-links {
  flex: 0 1 auto;
  display: flex;
  height: 100%;
  margin: 0 0;
  justify-content: flex-end;
  font-size: 16pt;
  font-weight: bold;
}

.menu-button {
  text-align: center;
  display: flex;
  align-items: flex-end;
  height: 100%;
  margin: 0;
  padding: 5px 10px;
}

.menu-title a {
  color: inherit;
  text-decoration: none;
}
.menu-title a:link {
  text-decoration: none;
  color: inherit;
}

.menu-title a:visited {
  color: inherit;
}

.menu-button:hover {
  background-color: #E6E6E6;
}

.menu-links a:link {
  text-decoration: none;
  color: inherit;
}

.menu-links a:visited {
  color: inherit;
}

.menu-links a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: DarkBlue
}

a:visited {
  color: BlueViolet;
}

a:hover {
  text-decoration: underline;
}
